@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

main {
  background-color: #ccc;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: -6px 7px 45px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px 7px 45px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -6px 7px 45px 0px rgba(0, 0, 0, 0.75);
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.section-1 h1 {
  display: flex;
  flex-direction: column;
  font-size: 50px;
}

.section-1 h2 {
  color: #ccc;
  padding-bottom: 10px;
}

.button {
  background-color: #ffffff;
  color: #ccc;
  text-decoration: none;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px #ccc solid;
  width: fit-content;
  border-radius: 50px;
  transition: background-color 0.05s ease-in;
}

.button:hover {
  background-color: #ccc;
  color: #ffffff;
}

.bar {
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
  z-index: 10;
}

.bar h2 {
  display: inline-block;
  text-align: center;
  border-left: dotted 1px #ffffff;
  border-right: dotted 1px #ffffff;
  padding: 0 10px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.section-2 img {
  padding: 30px;
  max-width: 600px;
}

.section-2 p {
  padding: 5px 20px;
  font-size: 15px;
}

.section-3 {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

.section-3 h1 {
  font-size: 60px;
}

.section-3 p {
  font-size: 20px;
}

.section-3 p span {
  font-weight: bold;
}

@media (max-width: 650px) {
  .section-2 img {
    padding: 25px;
    max-width: 400px;
  }

  .section-2 p {
    font-size: 10px;
  }

  .section-3 h1 {
    font-size: 40px;
  }

  .section-3 p {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .section-1 h1 {
    font-size: 35px;
  }

  .section-1 h2 {
    font-size: 15px;
  }

  .section-2 img {
    padding: 25px;
    max-width: 200px;
  }

  .button {
    font-size: 12px;
  }

  .bar {
    font-size: 15px;
  }

  .section-3 h1 {
    font-size: 30px;
  }

  .section-3 p {
    font-size: 10px;
  }
}
